# fly.toml app configuration file generated for session-combat on 2025-12-14T22:05:36Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'session-combat'
primary_region = 'sjc'

[build]

[build.args]
  BUILD_VERSION = '1.0.0'

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
